.marble-bg {
}

.marble-bg::before {
}

.macro_buttons {
}

.macro_button {
}

.player_stats {
}

.health-bar {
}

.health-bar-current {
}

.health-bar-current::before {
}

#youtube-background-player {
  width: 720px;
  height: 796px;
  top: -196px;
  position: absolute;
  left: 41px;
}

.user-name {
  position: absolute;
  left: 29px;
  top: 20px;
  font-size: 10pt;
  width: 98px;
  height: 32px;
  overflow: hidden;
}

/* screenshot, experience, gained experience */
.yellow-text {
  color: #fce803;
}

/* user inflicts damage, local chat */
.black-text {
  color: #281e16;
}

/* emotes, spell casting messages,  */
.blue-text {
  color: #150a6e;
}

/* user receives damage, shouts */
.red-text {
  color: #cf081b;
}

/* ooc messages */
.green-text {
  color: #55873a;
}

/* /who lookups, PMs */
.purple-text {
  color: #7e476b;
}

/* displays names of user and party members on marble BG texture */
.name-text {
  color: #d1d2d3;
}

/* group chat messages */
.teal-text {
  color: #80e8de;
}

.health-bar {
  position: absolute;
  right: 24px;
  top: 54px;
  width: 99px;
}

.empty-health {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.full-health-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.full-health-image {
  width: 110px;
}

.mana-bar {
  position: absolute;
  right: 24px;
  top: 66px;
  width: 99px;
}

.empty-mana {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.full-mana-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.full-mana-image {
  width: 99px;
}

.xp-bar {
  position: absolute;
  right: 24px;
  top: 78px;
  width: 99px;
}

.empty-xp {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.full-xp-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.full-xp-image {
  width: 99px;
}

.xp-bar-sub {
  position: absolute;
  right: 24px;
  top: 78px;
  width: 99px;
}

.empty-xp-sub {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.full-xp-container-sub {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.full-xp-image-sub {
  width: 99px;
}

body {
  background-color: grey;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
}

.container {
  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin: 50px auto; /* This will center the container horizontally */
  justify-items: center; /* This will center the grid items horizontally */
  align-items: center; /* This will center the grid items vertically */
  background-image: url("/static/everbitica/images/classic_full_screen_bg_blank.png");
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.view {
  overflow: hidden;
  z-index: -1;
}

.left-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 149px;
  height: 600px;
}

.ui_button {
  position: absolute;
}

.help_button {
}

.left_sidebar_top {
  position: absolute;
  left: 0;
  top: 0px;
  height: 387px;
  width: 100%;
}

.spell_gem {
  margin-top: 19px;
  width: 38px;
  height: 29px;
  left: 11px;
}
.spellbar {
  width: 30px;
  left: 111px;
  position: absolute;
  padding-top: 2px;
}

.system_options {
}

.left_sidebar_bottom {
}

.right-sidebar {
  right: 0px;
  position: absolute;
  top: 0px;
  width: 151px;
  height: 600px;
}

.chat {
  width: 397px;
  height: 164px;
  overflow-y: auto;
  left: 179px;
  top: 412px;
  position: absolute;
  font-size: 10px;
}

.right_sidebar_top {
}

.player_stats {
}

.group {
}

.target_and_actions {
  position: absolute;
  left: 14px;
  top: 297px;
  width: 135px;
  height: 20px;
}

.right_sidebar_bottom {
}

.target_name {
  color: #e4e1e1;
  top: -1px;
  position: absolute;
  left: 0px;
  font-size: 0.9vw;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
}

.target-full-health-image {
  height: 15px;
}
@keyframes sprite-animation {
  0% {
    background-position: -0px -0px;
  }
  1.67% {
    background-position: -175px -0px;
  }
  3.33% {
    background-position: -350px -0px;
  }
  5% {
    background-position: -525px -0px;
  }
  6.67% {
    background-position: -0px -356px;
  }
  8.33% {
    background-position: -175px -356px;
  }
  10% {
    background-position: -350px -356px;
  }
  11.67% {
    background-position: -525px -356px;
  }
  13.33% {
    background-position: -0px -712px;
  }
  15% {
    background-position: -175px -712px;
  }
  16.67% {
    background-position: -350px -712px;
  }
  20%,
  100% {
    background-position: -525px -712px;
  }
}
.class_graphic_image {
  width: 175px;
  height: 356px;
  background: url("/static/everbitica/images/class_animations/cleric_class_animation.png")
    0 0;
  animation: sprite-animation 20s steps(1) infinite;
  transform: scale(0.4);
  right: 8px;
  position: absolute;
  top: 12px;
}
.class_graphic_container {
}

.spell-book-graphic {
  width: 170px;
  height: 115px;
  background: url("/static/everbitica/images/leftandbuttons.png") -536px 0;
  position: absolute;
  left: -28px;
  top: 230px;
  transform: scale(0.6);
}

.group-container {
  width: 113px;
  height: 135px;
  padding-left: 17px;
  position: absolute;
  top: 133px;
  overflow-x: hidden;
  overflow-y: auto;
}

.group-member {
  width: 100%;
  height: 27px;
  position: relative;
  font-size: 11px;
}

.health-bar-member {
  position: absolute;
  left: 3px;
  top: 15px;
  width: 110px;
}

.group-member-name {
  padding-left: 7px;
  white-space: nowrap;
  font-size: 9pt;
}
